.examplerow  {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
    .img {
        width: 48%;
    }
    
    .example {
        width: 48%;
        margin: auto 0;
    }

}
