
nav {
    display: flex;
    justify-content: space-around;
    font-size:3rem;
    align-items: center;
     img{
        max-width: 10rem;
        max-height: 10rem;
    }
    a{
        text-decoration:none;
    }
}


git

// // on dock positon fixed after scroll

// nav {
//     /* display: flex; */
//     /* justify-content: space-around; */
//     display: flex;
//     justify-content: space-around;
//     font-size: 3rem;
//     align-items: center;
//     background: aliceblue;
//     /* margin: 0 auto; */
//     /* text-align: center; */
//     position: fixed;
//     width: 83%;
    

//     nav#navbar > a, nav#navbar > img {
//         margin: auto 4%;
//         vertical-align: middle;
//     };